// Place all the styles related to the Alarms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alarms li {
  display: flex;
}

h4 {
  margin-right: 10px;
}

h3 {
  margin-right: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
